.landingpage{
 margin-top: 60px;
 font-size: xxx-large;
 font-weight: bold;
 font-family: Tahoma;
 color: white;
 min-width: fit-content;
 min-height: fit-content;
 background-image: url("../../media/Ngc6188_Robertson_2000.jpg");
 background-size: 300%;
}

.buttons{
 display: grid;
 margin-top: 25%;
 margin-left: 10%;
 margin-right: 10%;
 margin-bottom: 10%;
 grid-template-columns: 1fr 1fr;
 grid-gap: 15px;
 grid-auto-rows: 110px;
 justify-content: space-between;
 color: #000;
 border: none;
 text-align: center;
 text-decoration: none;
 font-family: Tahoma;
 font-size: 100%;
}

