.landingpage{
 margin-top: 20%;
 font-size: xxx-large;
 font-weight: bold;
 font-family: Tahoma;
 color: white;
 background-size: 300%;
 height: 100%;
}

.buttons{
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 margin: 15%;
 border: none;
}
.buttons button {
 border: none;
 margin-bottom: 1%;
 margin-right: 30%;
 margin-left: 30%;
 background-color: rgba(255, 255, 255, 0.44);
 color: white;
 font-size: large;
 border-radius: 5px;
}
body{
 background-image: url("../../media/Ngc6188_Robertson_2000.jpg");

}


